@media (max-width: 480px) {
    .list-area {
        flex-grow: 1;
        min-width: 60%;
        width: 100%;
    }
    .input-area {
        flex-direction: column;
        align-items: stretch;
    }
    .input-area label, .input-area button {
        width: 100%;
    }
    .list-container {
        flex-direction: column;
    }
    .button-stack {
        flex-direction: row;
        flex-wrap: wrap;
        min-width: initial;
    }
    .button-stack button {
        flex-grow: 1;
        min-width: 100px;
    }
}