*{
    margin: 0;
    padding: 0;
}
body{
    width: 100%;
    display: flex;
    flex-direction:  column;
    align-items: center;
    justify-content: center;
    font-family: sans-serif;
    font-size: 14px;
}
.userBox {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    width: auto;
    border: 1px solid #cdcbcb;
    border-radius: 10px;
    margin: 10px;
}
.user-details-container{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 10px;
    width: auto;
    border: 1px solid #cdcbcb;
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
}
.userContainer{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 10px;
    border: 1px solid #cdcbcb;
    border-radius: 5px;
    margin: 5px;
    padding: 5px;
}
.name_id{
    display: flex;
    flex-direction:column;
    align-items: start;
    justify-content: center;
    width: auto;
    padding: 5px;
    border-bottom: 1px solid #dadada;
}
.btn{
    cursor: pointer;
}
.btnPost{
    width: 90%;
    height: 40px;
    cursor: pointer;
    font-size: 17px;
    border: 1px solid #cdcbcb;
    border-radius: 5px;
}
.boxPost{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 10px;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    width: 100%;
    margin: 10px;
}
.postBtn{
    display: flex;
    flex-direction:column;
    align-items: center;
    height: 100%;
    gap: 5px;
    justify-content:space-between;
    border: 1px solid #cdcbcb;
    border-radius: 5px;
    margin: 5px;
}
.post{
    display: flex;
    align-items: start;
    justify-content: start;
    margin: 10px;
}
.btnPost{
    cursor: pointer;
    height: 30px;
    margin-bottom: 5px;

}
.commentContainer{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 10px;
    padding: 10px;
    margin: 10px;
    background: #eae8e8;
    border-radius: 5px;
}
.box-Post{
    display: flex;
    flex-direction:column;
    width: 75%;
    align-items: start;
    justify-content: center;
    border: 1px solid #cdcbcb;
    border-radius: 5px;
    padding: 5px;
    background: #f6f5f5;
    margin-bottom: 10px;
    margin-top: 10px;
    gap: 5px;
}
.boxComments{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 10px;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    width: 90%;
    margin: 10px;
    border: 1px solid #cdcbcb;
    border-radius: 5px;
}
.titleComment{
    font-size: 1.2em;
}